[submodule "projects/ofk-claude"]
	path = projects/ofk-claude
	url = https://github.com/skogai2/okf
[submodule "projects/ofk-tools"]
	path = projects/ofk-tools
	url = https://github.com/skogai2/okf2
[submodule "projects/openwiki"]
	path = projects/openwiki
	url = https://github.com/skogai/openwiki
[submodule "projects/skogai-fleet"]
	path = projects/skogai-fleet
	url = https://github.com/skogai2/skogai-fleet
[submodule "projects/dot-skogai"]
	path = projects/dot-skogai
	url = https://github.com/skogai2/dot-skogai
[submodule "projects/dash-skogai"]
	path = projects/dash-skogai
	url = https://github.com/skogai2/dash-skogai
[submodule "projects/config"]
	path = projects/config
	url = https://github.com/skogai2/config
[submodule "projects/skogai-cli"]
	path = projects/skogai-cli
	url = https://github.com/skogai2/skogai-cli
